<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head th:replace="fragments/fragments:: html_head" />
</head>
<body>
<div th:replace="fragments/fragments:: header"></div>
<div align="center">
    <h1>Login page</h1>
</div>
<br>
<div class="container" align="center" style="max-width:330px; margin:0 auto">

    <div th:if="${loginError}" class="alert alert-danger" role="alert">
        <p class="error">Wrong user or password</p>
    </div>

    <form class="border border-2 border-light p-5 shadow" th:action="@{/login}" method="post">
        <div class="mx-auto">
            <label class="form-label" for="username">Username</label>
            <input type="text" id="username" class="from-control" name="username"
                   placeholder="Enter your username"
                   autofocus="autofocus" required minlength="3" maxlength="20" pattern="[a-zA-Z0-9]+"/></div>
        <br/>
        <div class="mx-auto">
            <label class="form-label" for="password">Password</label>:
            <input type="password" id="password" class="from-control" name="password" required minlength="3"
                   placeholder="Type your password"
                   maxlength="15"/></div>
        <br/>
        <div style="height:5px;"></div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" >Login</button>

        </div>
    </form>
</div>
<div th:replace="fragments/fragments:: footer"></div>
</body>
</html>