<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head th:replace="fragments/fragments:: html_head"/>


</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="fragments/fragments:: header">
</div>


<main class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h1 fw-bold text-center text-secondary py-4">Order Placed Successfully</h1>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12 border border-2 border-light p-5 shadow">
                <div class="row">
                    <h3 class="h3 fw-bold text-center text-secondary py-2">Order summary</h3>
                </div>
               <div class="row">
                   <table id="order" class="table table-responsive-md text-center">
                       <thead>
                       <tr>

                           <th class="col-md-1 text-center text-secondary"> Order Id</th>
                           <th class="col-md-2 text-center text-secondary"> Order Date</th>
                           <th class="col-md-2 text-center text-secondary"> Order By</th>
                           <th class="col-md-6 text-center text-secondary"> Products</th>
                           <th class="col-md-1 text-center text-secondary"> Order Total</th>


                       </tr>
                       </thead>
                       <tbody>

                       <tr >
                           <td class="align-middle"> <span th:text="${order.id}" class="text-center text-secondary"> </span></td>
                           <td class="align-middle"><span th:text="${#temporals.format(order.orderDate, 'dd-MM-yyyy HH:mm')}" class="text-center text-secondary"> </span></td>
                           <td class="align-middle"><span th:text="${order.user.username}" class="text-center text-secondary"> </span></td>
                           <td>
                               <table id="shopping-cart" class="table table-responsive-md text-center">
                                   <thead class="d-none">
                                  <tr>

                                       <th class="col-md-2 text-center text-secondary "> Image</th>
                                       <th class="col-md-5 text-center text-secondary"> Name</th>
                                       <th class="col-md-1 text-center text-secondary"> Price</th>
                                       <th class="col-md-3 text-center text-secondary"> Quantity</th>
                                       <th class="col-md-1 text-center text-secondary"> Subtotal</th>

                                   </tr>
                                   </thead>
                                   <tbody>

                                   <tr th:each="product : ${order.products}" class="text-center">

                                       <td class="col-md-2 align-middle"><img th:src="@{${product.imageUrl}}" class="img-thumbnail" alt="..."></td>
                                       <td class="col-md-5 align-middle"><span th:text="${product.name}" class="text-center text-secondary">  </span></td>
                                       <td class="col-md-1 align-middle d-none"><span th:text="${product.price}" class="text-center text-secondary"> </span></td>
                                       <td class="col-md-3 align-middle"><span th:text="${product.quantity}" class="text-center text-secondary"> </span></td>
                                       <td class="col-md-1 align-middle d-none"><span th:with="total = ${product.quantity * product.price}" class="text-center text-secondary">
                         <!--<p th:text="${total}"></p>-->
                        </span></td>

                                   </tr>
                                   </tbody>
                                   <!--<tfoot>
                                     <tr>
                                         <th colspan="4" style="text-align:right">Total:</th>
                                         <th><b th:text="${#aggregates.sum(order.products.![quantity*price])}" /></th>
                                     </tr>
                                     </tfoot>-->
                               </table>

                           </td>
                           <td class="align-middle"><span th:text="${#aggregates.sum(order.products.![quantity*price])}"  class="text-center text-secondary fw-bold"> </span></td>
                       </tr>
                       </tbody>

                   </table>
               </div>

                <div class="row">
                    <div class="col-md-6 offset-md-3 text-center">
                        <a class="btn btn-outline-info" th:href="@{/products/all}">
                            Back to products</a>
                    </div>
                </div>



            </div>


        </div>

    </div>
</main>
<div th:replace="fragments/fragments :: footer"></div>
<div th:replace="fragments/fragments :: scripts"></div>
<script>

</script>
</body>
</html>