<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head th:replace="fragments/fragments:: html_head"/>

</head>

<body>
<div th:replace="fragments/fragments:: header">
</div>
<main class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-xl-3 pt-2 d-flex align-items-stretch" th:each="product : ${products}">
                <div class="card text-center text-secondary border border-2 border-light p-2 shadow">
                    <div class="card-body ">
                        <div class="row">
                            <img th:src="@{${product.imageUrl}}" class="card-img-top product-thumbnail" alt="...">
                        </div>
                        <div class="row">
                            <h6 class="card-title fw-bolder text product-title" th:text="${product.name}"></h6>
                        </div>
                        <div class="row">
                            <p class="card-text  text product-description" th:text="${product.description}"></p>
                        </div>

                        <div class="row ">
                            <div class="col-md-6 offset-md-3">
                                <div class="d-flex justify-content-center">
                                    <h5 class="product-price fw-bolder text-danger p-1" th:text="${product.price}"></h5>
                                    <h5  class="product-price fw-bolder text-danger p-1">&euro;</h5>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div>
                        <form th:action="@{/products/add/{productId}(productId = ${product.id})}" method="post"
                              th:object="${product2}">
                            <div class="input-group w-auto justify-content-center align-items-center py-3">
                                <input type="button" value="-"
                                       class="button-minus border rounded-circle  icon-shape icon-sm mx-1 "
                                       data-field="quantity">
                                <input type="number" th:value="${quantity}" step="1" max="10" value="1"
                                       placeholder="Type quantity"
                                       name="quantity"
                                       class="quantity-field border-0 text-center w-50">
                                <input type="button" value="+"
                                       class="button-plus border rounded-circle icon-shape icon-sm "
                                       data-field="quantity">
                                <input type="hidden" th:value="${id}"/>

                            </div>
                            <div  class="card-footer">
                                <button type="submit" class="btn btn-outline-info">
                                    <i class="bi bi-cart4  fa-3x"></i>
                                    Add to shopping cart
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/fragments :: footer"></div>
<div th:replace="fragments/fragments :: scripts"></div>
<script>
    function incrementValue(e) {
        e.preventDefault();
        var fieldName = $(e.target).data('field');
        var parent = $(e.target).closest('div');
        var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);

        if (!isNaN(currentVal)) {
            parent.find('input[name=' + fieldName + ']').val(currentVal + 1);
        } else {
            parent.find('input[name=' + fieldName + ']').val(0);
        }
    }

    function decrementValue(e) {
        e.preventDefault();
        var fieldName = $(e.target).data('field');
        var parent = $(e.target).closest('div');
        var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);

        if (!isNaN(currentVal) && currentVal > 0) {
            parent.find('input[name=' + fieldName + ']').val(currentVal - 1);
        } else {
            parent.find('input[name=' + fieldName + ']').val(0);
        }
    }

    $('.input-group').on('click', '.button-plus', function(e) {
        incrementValue(e);
    });

    $('.input-group').on('click', '.button-minus', function(e) {
        decrementValue(e);
    });


</script>
</body>
</html>
