<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head th:replace="fragments/fragments:: html_head" />
</head>

<body class="d-flex flex-column min-vh-100">
<div th:replace="fragments/fragments:: header"></div>
<div class="container" align="center">
    <div>
        <p> You have successfully registered! Please check your email address </p>
        <a><p th:text="${user.email}"></p></a>
        <p> following the next icon: </p>
        <div th:if="${#strings.containsIgnoreCase(user.email,'yahoo')}">
            <a href="https://mail.yahoo.com/" target="_blank">
                <img border="0" alt="Yahoo"
                     src="https://icons-for-free.com/iconfiles/png/512/logo+search+engine+website+yahoo+icon-1320168602217718066.png"
                     width="50" height="50"></a>
        </div>
        <div th:if="${#strings.containsIgnoreCase(user.email,'gmail')}">
            <a href="https://mail.google.com/" target="_blank">
                <img border="0" alt="Gmail"
                     src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-original-577x577/s3/112013/gmail.png?itok=s1WEASde"
                     width="50" height="50"></a>
        </div>
    </div>
    <br><br><br>
</div>
<div th:replace="fragments/fragments:: footer"></div>
</body>
</html>