<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head th:replace="fragments/fragments:: html_head" />

</head>
<body>
<div th:replace="fragments/fragments:: header">
</div>
<main class="container-fluid">
    <div class="container">
        <div class="row">

            <div class="col-md-12"><h1 class="display-5 fw-bold text-center">Users list</h1></div>

        </div>

        <div class="row">

            <div class="col-md-12 border border-2 border-light p-5 shadow">
                <table id="usersTable" class="table table-hover table-responsive-md text-center">
                    <thead class="thead-dark">
                    <tr>
                        <th class="text-center"> Username</th>
                        <th class="text-center"> Mail</th>
                        <th class="text-center"> Full name</th>
                        <th class="text-center"> Actions </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="user : ${users}" class="text-center">
                        <td><span th:text="${user.username}">  </span></td>
                        <td><span th:text="${user.email}"> </span></td>
                        <td><span th:text="${user.fullName}"> </span></td>
                        <td>
                            <span><a class="btn btn-outline-warning"><i class="bi bi-pencil-square px-1">Edit</i></a></span>
                            <span><a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-outline-danger"><i class="bi bi-trash3 px-1">Delete</i></a></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</main>

    <div th:replace="fragments/fragments :: footer"></div>
    <div th:replace="fragments/fragments :: scripts"></div>

</body>
</html>